<div class="candidate-view">
  <div class="header">
    <div class="row">
      <div class="mug-container">
        <div class="mug-padding">
          <img class="mug" src="./assets/mugs/<%= data.candidate.mug || "blank.jpg" %>" alt="photo of <%= data.candidate.name %>">
        </div>
      </div>
      <div class="bio-container">
        <h1><%= data.candidate.name %></h1>
        <h2>Age: <%= data.candidate.age %></h2>
        <p>"<%= data.candidate.tweet %>"</p>

        <% if (data.candidate.profile) { %>
        <p>
          <a href="<%= data.candidate.profile %>">Profile: <%= data.candidate.profile_text %></a>
        <% } %>
      </div>
    </div>
  </div>

  <% if (data.candidate.dna) { %>
  <div class="did-not-answer">
    <%= data.candidate.name %> did not respond to The Seattle Times questionnaire.
  </div>
  <% } else { %>
  
  <h3>Bio</h3>
  <ul class="biographical questions">
    <% data.bio.forEach(function(q) { %>
    <li>
      <div class="padding">
        <div class="question"><%= q.text %></div>
        <blockquote><%= data.candidate.questions[q.id] || "Did not answer." %></blockquote>
      </div>
    <% }); %>
  </ul>

  <h3>Quick hits</h3>
  <ul class="multiple-choice questions">
    <% data.choice.forEach(function(q) { %>
    <li>
      <div class="padding">
        <div class="question"><%= q.text %></div>
        <ul class="options">
        <% if (data.candidate.questions[q.id]) { %>
        <% q.choices.split(/,\s*/).forEach(function(a) { %>
          <li class="<%= data.candidate.questions[q.id].toLowerCase() == a.toLowerCase() ? "chosen" : "" %>">
            <%= a %>
          </li>
        <% }); %>
        <% } else { %>
          <li class="flagged"> Did not answer.
        <% } %>
        </ul>
      </div>
    <% }); %>
  </ul>
  
  <h3>Policies and plans</h3>
  <ul class="standalone questions">
    <% data.detailed.forEach(function(q) { %>
    <li>
      <div class="padding">
        <div class="topic">
          <a href="#/issue/<%= q.topics %>">          <%= q.topics %></a>
        </div>
        <div>
          <div class="question" href="#/issue/<%= q.id %>">
            <%= q.text %>
          </div>
          <blockquote><%= data.candidate.questions[q.id] || "<i>No response given</i>" %></blockquote>
        </div>
      </div>

    <% }); %>
  </ul>

  <% } %>

</div>

<nav class="tab-group" id="navigation">
  <a href="#/candidates" class="candidates active">Candidates</a>
  <a href="#/issue/PUBLIC%20SAFETY" class="questions">Issues</a>
  <a href="#/about" class="about">About</a>
  <a href="https://www.seattletimes.com/tag/seattle-mayoral-race/" target="_blank" class="coverage">More coverage</a>
</nav>