<div class="question-view">
  <nav class="question-list">
    Topics: 
    <% data.issues.forEach(function(issue) { %>
      <a href="#/issue/<%= encodeURIComponent(issue) %>"><%= issue %></a>
    <% }); %>
  </nav>

  <% if (data.multipleChoice.length > 0) { %>
    <div class="table">
      <div class="table-row table-header">
        <div class="table-question">Question</div>
        <% data.candidates.forEach(function(c) { %>
        <div class="table-cell"><%= c.last %></div>
        <% }); %>
      </div>

      <% data.multipleChoice.forEach(function(q) { %>
      <div class="table-row border">
        <div class="table-question"><%= q.text %></div>
        <% data.candidates.forEach(function(c) { %>
          <!-- Do an if here for your image choice -->
          <div class="table-cell"><%= c.questions[q.id] %></div>
        <% }); %>
      <% }); %>
      </div>
    </div>
  </div>
  <% } %>

  <div class="question-view">
  <% data.other.forEach(function(q) { %>
  <h2><%= q.text %></h2>

  <ul class="candidate-answers">
    <% data.candidates.forEach(function(c) { %>
    <li>
      <a class="meta" href="#/candidates/<%= c.id %>">
        <img src="./assets/mugs/<%= c.mug || "blank.jpg" %>" class="mug">
        <b class="name"><%= c.name %></b>
      </a>
      <blockquote><%= c.questions[q.id] || "Did not answer." %></blockquote>
    <% }); %>
  </ul>
  <% }); %>
</div>


<nav class="tab-group" id="navigation">
  <a href="#/candidates" class="candidates active">Candidates</a>
  <a href="#/issue/PUBLIC%20SAFETY" class="questions">Issues</a>
  <a href="#/about" class="about">About</a>
  <a href="http://www.seattletimes.com/tag/seattle-mayoral-race/" target="_blank" class="coverage">More coverage</a>
</nav>