<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp": 1624067730,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2021\/seattle-mayor-candidates-primary-mayoral-election-guide\/",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2021-06-20 06:00:00",
	"modifieddate":"2021-06-20 06:00:00",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"Election 2021, Seattle mayoral race, data",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"seattle-news",
	"section_tier2":"politics",
	"sections_all":"seattle-news|politics",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>
